.btn {
	font-family: inherit;
	font-weight: 600;
	border-radius: 6px;
	padding: 0.5rem 1rem;
	border: none;
	cursor: pointer;
	transition: background-color 0.3s;
	display: inline-block;
	text-align: center;
	user-select: none;
	font-size: 1.5rem;
}

.btn-primary {
	background-color: #007bff;
	color: white;
}

.btn-primary:hover,
.btn-primary:focus {
	background-color: #0056b3;
	outline: none;
}

.btn-secondary {
	background-color: #6c757d;
	color: white;
}

.btn-secondary:hover,
.btn-secondary:focus {
	background-color: #565e64;
	outline: none;
}

.btn-danger {
	background-color: #dc3545;
	color: white;
}

.btn-danger:hover,
.btn-danger:focus {
	background-color: #a71d2a;
	outline: none;
}
