.card {
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.card-content {
	padding: 1rem;
	flex-grow: 1;
}
