/* GENERAL WRAPPER */
.filter-wrapper {
  position: relative;
}

/* TOGGLE BUTTON */
.filter-toggle-btn {
  /* position: fixed; */
  top: 20px;
  left: 20px;
  background: #232f3e;
  /* Amazon dark blue */
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  z-index: 1001;
}

.filter-toggle-btn:hover {
  background: #131921;
}

/* OVERLAY */
.filter-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.55);
  z-index: 999;

}

/* SIDEBAR */
.filter-sidebar {
  position: fixed;
  top: 0;
  left: -320px;
  width: 300px;
  height: 100vh;
  background: white;
  border-right: 1px solid #ddd;
  padding: 20px;
  overflow-y: auto;
  transition: left 0.3s ease;
  z-index: 1000;
  /* add scroll bar width 0 */
  scrollbar-width: thin;
  scrollbar-color: #ccc transparent;
}

.filter-sidebar.open {
  left: 0;
}

/* SECTION TITLE */
.filter-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #111;
}

/* SECTION BLOCK */
.filter-section {
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
  margin-bottom: 20px;
}

/* INPUT ROW */
.filter-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.filter-row label {
  width: 50px;
  color: #333;
  font-size: 14px;
}

/* INPUT BOX */
.input-box {
  width: 100%;
  padding: 7px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input-box:focus {
  border-color: #f0c14b;
  /* Amazon yellow border */
  outline: none;
}

/* RANGE SLIDER */
.range-slider {
  width: 100%;
  margin: 10px 0;
}

/* PRICE LABEL */
.price-label {
  font-size: 14px;
  color: #444;
}

/* CHECKBOX STYLES */
.checkbox-item {
  display: flex;
  align-items: center;
  margin: 8px 0;
  cursor: pointer;
  font-size: 14px;
  position: relative;
  padding-left: 28px;
}

.checkbox-item input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  left: 0;
  top: 0;
  height: 18px;
  width: 18px;
  background-color: #fff;
  border: 1px solid #777;
  border-radius: 3px;
}

/* Checked state */
.checkbox-item input:checked~.checkmark {
  background-color: #f0c14b;
  /* Amazon yellow */
  border-color: #b38b00;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-item input:checked~.checkmark:after {
  display: block;
}

/* Check icon */
.checkmark:after {
  left: 5px;
  top: 1px;
  width: 4px;
  height: 10px;
  border: solid #111;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
