/* Modal overlay covers the entire viewport */
.modalOverlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
	padding: 1rem;
	box-sizing: border-box;
}

/* Modal content box */
.modalContent {
	background: #fff;
	border-radius: 8px;
	max-width: 500px;
	/* height: 200px; */
	width: 100%;
	padding: 1.5rem;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	text-align: center;
}

/* Modal title */
.modalContent h2 {
	margin-top: 0;
	margin-bottom: 1rem;
	font-size: 3rem;
}

/* Modal message */
.modalContent p {
	margin-bottom: 1.5rem;
	font-size: 1.7rem;
	color: #333;
}

/* Buttons container */
.modalButtons {
	display: flex;
	justify-content: flex-end;
	gap: 1rem;
}

/* Buttons */
.btn {
	flex: 1;
	padding: 0.75rem 1rem;
	font-size: 1rem;
	border-radius: 4px;
	cursor: pointer;
	border: none;
	height: 40px;
	transition: background-color 0.3s ease;
	font-size: 1.5rem;
}

/* Cancel button style */
.btnCancel {
	width: 100%;
	background-color: #e0e0e0;
	color: #333;
}

.btnCancel:hover {
	background-color: #cacaca;
}

/* Delete button style */
.btnDelete {
	background-color: #d32f2f;
	color: white;
}

.btnDelete:hover {
	background-color: #b71c1c;
}

/* Responsive adjustments */
@media (max-width: 480px) {
	.modalContent {
		max-width: 90%;
		padding: 1rem;
	}

	.modal-buttons {
		flex-direction: column;
	}

	.btn {
		width: 100%;
	}
}
